@charset "UTF-8";
@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@font-face {
  font-family: "20Kopeek";
  src: url("../fonts/20Kopeek.eot");
  src: url("../fonts/20Kopeek.eot?#iefix") format("embedded-opentype"), url("../fonts/20Kopeek.woff2") format("woff2"), url("../fonts/20Kopeek.woff") format("woff"), url("../fonts/20Kopeek.ttf") format("truetype"), url("../fonts/20Kopeek.svg#20Kopeek") format("svg"), url("../fonts/20Kopeek.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "20Kopeek-Book";
  src: url("../fonts/20Kopeek-Book.eot");
  src: url("../fonts/20Kopeek-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/20Kopeek-Book.woff2") format("woff2"), url("../fonts/20Kopeek-Book.woff") format("woff"), url("../fonts/20Kopeek-Book.ttf") format("truetype"), url("../fonts/20Kopeek-Book.svg#20Kopeek-Book") format("svg"), url("../fonts/20Kopeek-Book.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@media (min-width: 768px) {
  button.navbar-expand-lg .navbar-toggler {
    display: none; } }
header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  color: #FFFFFF; }
  header .logo-container {
    display: flex;
    justify-content: space-between; }
  @media screen and (max-width: 768px) {
    header .navbar-toggler-icon {
      background-image: url("../images/burgermenu.svg"); } }
  header .collapse span {
    border: 1px solid;
    border-radius: 20px;
    padding: 7px 27px 7px 33px;
    font-family: "20Kopeek";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-left: 220px; }
    @media screen and (max-width: 992px) {
      header .collapse span {
        margin-left: 0; } }
  header .collapse a {
    color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    padding: 3px 7px;
    margin: 0 14px; }

@media (min-width: 1201px) {
  h1.politics {
    margin-top: 90px;
    margin-bottom: 90px;
    width: 540px;
    font-family: "20Kopeek-Book";
    font-size: 38px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: black;
    text-decoration-line: underline; }
    h1.politics a:link {
      color: #181818; }
    h1.politics a:visited {
      color: #181818; }
    h1.politics a:hover {
      color: #181818;
      border-bottom: 1px solid; }
    h1.politics a:active {
      color: #181818;
      border-bottom: 1px solid; }

  .main_text {
    width: 730px;
    font-family: "20Kopeek";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left; } }
@media (min-width: 993px) and (max-width: 1200px) {
  h1.politics {
    margin-top: 90px;
    margin-bottom: 70px;
    width: 540px;
    font-family: "20Kopeek-Book";
    font-size: 34px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: black;
    text-decoration-line: underline; }
    h1.politics a:link {
      color: #181818; }
    h1.politics a:visited {
      color: #181818; }
    h1.politics a:hover {
      color: #181818;
      border-bottom: 1px solid; }
    h1.politics a:active {
      color: #181818;
      border-bottom: 1px solid; }

  .main_text {
    width: 730px;
    font-family: "20Kopeek";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left; } }
@media (min-width: 769px) and (max-width: 992px) {
  h1.politics {
    margin-top: 90px;
    margin-bottom: 70px;
    width: 540px;
    font-family: "20Kopeek-Book";
    font-size: 34px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: black;
    text-decoration-line: underline; }
    h1.politics a:link {
      color: #181818; }
    h1.politics a:visited {
      color: #181818; }
    h1.politics a:hover {
      color: #181818;
      border-bottom: 1px solid; }
    h1.politics a:active {
      color: #181818;
      border-bottom: 1px solid; }

  .main_text {
    width: 691px;
    font-family: "20Kopeek";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left; } }
@media (min-width: 577px) and (max-width: 768px) {
  h1.politics {
    margin-top: 90px;
    margin-bottom: 60px;
    width: 511px;
    font-family: "20Kopeek-Book";
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: black;
    text-decoration-line: underline; }
    h1.politics a:link {
      color: #181818; }
    h1.politics a:visited {
      color: #181818; }
    h1.politics a:hover {
      color: #181818;
      border-bottom: 1px solid; }
    h1.politics a:active {
      color: #181818;
      border-bottom: 1px solid; }

  .main_text {
    width: 510px;
    font-family: "20Kopeek";
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left; }

  .main_banner {
    color: #ffffff; }
    .main_banner h1 {
      font-family: "20Kopeek";
      font-size: 45px;
      font-weight: 400;
      line-height: 45px;
      text-align: left;
      width: 480px; }
    .main_banner p {
      color: #ffffff;
      font-family: "20Kopeek";
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin-top: 25px;
      width: 185px; }
    .main_banner .owl-carousel .banner_1 {
      background-image: url("../images/Rectangle52.jpg"); } }
@media (min-width: 360px) and (max-width: 576px) {
  h1.politics {
    margin-top: 90px;
    margin-bottom: 60px;
    width: 290px;
    font-family: "20Kopeek-Book";
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: black;
    text-decoration-line: underline; }
    h1.politics a:link {
      color: #181818; }
    h1.politics a:visited {
      color: #181818; }
    h1.politics a:hover {
      color: #181818;
      border-bottom: 1px solid; }
    h1.politics a:active {
      color: #181818;
      border-bottom: 1px solid; }

  .main_text {
    width: 290px;
    font-family: "20Kopeek";
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left; }

  .main_banner {
    color: #FFFFFF; }
    .main_banner h1 {
      font-family: "20Kopeek";
      font-size: 30px;
      font-weight: 400;
      line-height: 33px;
      text-align: left;
      position: absolute;
      top: 148px;
      width: 330px; }
    .main_banner p {
      font-family: "20Kopeek";
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin-top: 15px;
      width: 185px; }
    .main_banner .owl-carousel .banner_1 {
      background-image: url("../images/Rectangle5.jpg"); } }
@media (max-width: 360px) {
  h1.politics {
    margin-top: 90px;
    margin-bottom: 60px;
    width: 290px;
    font-family: "20Kopeek-Book";
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: black;
    text-decoration-line: underline; }
    h1.politics a:link {
      color: #181818; }
    h1.politics a:visited {
      color: #181818; }
    h1.politics a:hover {
      color: #181818;
      border-bottom: 1px solid; }
    h1.politics a:active {
      color: #181818;
      border-bottom: 1px solid; }

  .main_text {
    width: 290px;
    font-family: "20Kopeek";
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left; }

  .main_banner h1 {
    color: #ffffff;
    font-family: "20Kopeek";
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    position: absolute;
    top: 145px;
    width: 240px; }
  .main_banner p {
    font-family: "20Kopeek";
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 15px; }
  .main_banner .owl-carousel .banner_1 {
    background-image: url("../images/Rectangle5.jpg"); } }
.main_banner .text_banner {
  padding-top: 244px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  .main_banner .text_banner .btn {
    /* Смотреть проект */
    color: #181818;
    background-color: #FFFFFF;
    margin-top: 38px;
    padding: 23px 47px;
    height: 25px;
    box-sizing: content-box;
    margin-bottom: 60px;
    font-family: "20Kopeek";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    border: solid #181818 2px; }
.main_banner .banner {
  height: 100vh;
  background-position: center top;
  background-size: cover; }
.main_banner .banner_1 {
  background-image: url("../images/011.jpg"); }
.main_banner .banner_2 {
  background-image: url("../images/012.jpg"); }
.main_banner .banner_3 {
  background-image: url("../images/013.jpg"); }
.main_banner .banner_4 {
  background-image: url("../images/014.jpg"); }

.fm_style {
  padding: 70px 0 150px; }
  .fm_style img {
    width: 100%;
    display: block; }
  .fm_style p {
    font-size: 18px;
    line-height: 25px;
    margin-left: 8px;
    color: #181818;
    padding-top: 27px; }
  .fm_style .blue1 {
    color: #FFFFFF;
    background-color: #2B59C3;
    border-radius: 5px;
    padding: 13px 17px; }
  .fm_style span {
    color: #181818;
    font-size: 55px;
    line-height: 55px; }

.portfolio article {
  margin-right: 89px; }
  .portfolio article h2 {
    margin-top: 38px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "20Kopeek-Book";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0;
    text-align: left; }
  .portfolio article p {
    font-family: "20Kopeek";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left; }
.portfolio .btn {
  /* Смотреть проект */
  margin-top: 38px;
  padding: 23px 47px;
  height: 25px;
  box-sizing: content-box;
  margin-bottom: 60px;
  font-family: "20Kopeek";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  border: solid #181818 2px; }

.contact_email h2 {
  color: #181818;
  font-family: "20Kopeek-Book";
  font-size: 34px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  margin-bottom: 10px; }
.contact_email p {
  color: #181818;
  font-family: "20Kopeek-Book";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: left; }

.step_style {
  color: #181818; }
  .step_style h2 {
    font-family: "20Kopeek-Book";
    font-size: 55px;
    font-weight: 400;
    line-height: 55px; }
  .step_style h3 {
    font-family: "20Kopeek";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; }
  .step_style p {
    font-family: "20Kopeek";
    font-size: 15px;
    font-weight: 400;
    line-height: 19px; }

.about_text p {
  padding: 20px;
  margin-bottom: 50px; }

.about_text p:last-of-type {
  background-color: blue;
  border-radius: 4px; }

.freelanc {
  padding: 150px 0; }
  .freelanc .col-xl-2:first-of-type {
    background-color: #2B59C3;
    border-radius: 10px 10px 0 0;
    font-size: 26px;
    color: white;
    display: flex; }
    .freelanc .col-xl-2:first-of-type p {
      margin-bottom: 0; }
    .freelanc .col-xl-2:first-of-type.blue_2 {
      border-radius: 0; }
  .freelanc .col-md-4:first-of-type, .freelanc .col-md-4:nth-child(2), .freelanc .col-md-4:last-of-type {
    border-bottom: solid 1px #868686; }
    @media screen and (max-width: 992px) {
      .freelanc .col-md-4:first-of-type, .freelanc .col-md-4:nth-child(2), .freelanc .col-md-4:last-of-type {
        border-bottom: none; } }
    .freelanc .col-md-4:first-of-type.border_blue, .freelanc .col-md-4:nth-child(2).border_blue, .freelanc .col-md-4:last-of-type.border_blue {
      border: solid 4px #2B59C3;
      border-bottom: none;
      border-radius: 10px 10px 0 0; }
    .freelanc .col-md-4:first-of-type h3, .freelanc .col-md-4:nth-child(2) h3, .freelanc .col-md-4:last-of-type h3 {
      color: #868686;
      font-size: 38px;
      min-height: 84px;
      line-height: 41px; }
    .freelanc .col-md-4:first-of-type p, .freelanc .col-md-4:nth-child(2) p, .freelanc .col-md-4:last-of-type p {
      color: #868686;
      padding-top: 14px;
      font-size: 15px;
      margin-bottom: 0;
      line-height: 19px;
      padding-bottom: 26px; }
  .freelanc .next .frelan.border_blue {
    border: solid 4px #2B59C3;
    border-bottom: none;
    border-top: none;
    border-radius: 0; }
  .freelanc .next .frelan p {
    padding-top: 26px;
    padding-bottom: 26px; }
  .freelanc .next .blue {
    align-items: start;
    padding-top: 16px; }
    @media screen and (max-width: 1024px) {
      .freelanc .next .blue {
        padding-bottom: 16px; } }
  @media screen and (max-width: 1024px) {
    .freelanc br {
      display: none; } }

.preference {
  background-image: url("../images/Rectangle32.jpg");
  height: 100%;
  background-position: center top;
  background-size: cover; }
  @media screen and (max-width: 576px) {
    .preference {
      display: none; } }
  .preference .container h3 {
    color: #FFFFFF;
    font-family: "20Kopeek-Book";
    font-size: 55px;
    font-weight: 400;
    line-height: 55px;
    text-align: left;
    margin-top: 282px; }
  @media (min-width: 1140px) {
    .preference .container .col-xl-2:first-of-type {
      margin-left: 10px; } }
  .preference .container span {
    color: #FFFFFF;
    font-family: "20Kopeek-Book";
    font-size: 55px;
    font-weight: 400;
    line-height: 55px;
    text-align: left; }
  .preference .container p {
    color: #FFFFFF;
    font-family: "20Kopeek";
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    text-align: left; }

.contact_email2 .us h2 {
  font-family: "20Kopeek-Book";
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  text-align: left; }
.contact_email2 .us .blue {
  background-color: #2B59C3;
  border-radius: 10px;
  width: 25%;
  margin: 0; }
  .contact_email2 .us .blue p {
    color: #ffffff;
    font-family: "20Kopeek";
    font-size: 15px;
    font-weight: 400;
    line-height: 21px; }
.contact_email2 span {
  font-family: "20Kopeek";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #181818; }

/*# sourceMappingURL=styles.css.map */
