@font-face {
  font-family: "20Kopeek";
  src: url('../fonts/20Kopeek.eot');
  src: url('../fonts/20Kopeek.eot?#iefix') format('embedded-opentype'),
  url('../fonts/20Kopeek.woff2') format('woff2'),
  url('../fonts/20Kopeek.woff') format('woff'),
  url('../fonts/20Kopeek.ttf') format('truetype'),
  url('../fonts/20Kopeek.svg#20Kopeek') format('svg'),
  url('../fonts/20Kopeek.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "20Kopeek-Book";
  src: url('../fonts/20Kopeek-Book.eot');
  src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/20Kopeek-Book.woff2') format('woff2'),
  url('../fonts/20Kopeek-Book.woff') format('woff'),
  url('../fonts/20Kopeek-Book.ttf') format('truetype'),
  url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg'),
  url('../fonts/20Kopeek-Book.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import "owl.carousel.css";
@import "owl.theme.default.css";
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.main_banner{
  .text_banner{
    padding-top: 344px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .banner{
    height: 100vh;
    background-position: center top;
    background-size: cover;
  }
  .banner_1{
    background-image: url("../images/011.jpg");
  }
  .banner_2{
    background-image: url("../images/012.jpg");
  }
  .banner_3{
    background-image: url("../images/013.jpg");
  }
  .banner_4{
    background-image: url("../images/014.jpg");
  }
}

.fm_style{
  padding: 70px 0 150px;
  img{
    width: 100%;
    display: block;
  }
  p{
    font-size: 18px;
    line-height: 25px;
    margin-left: 8px;
    color: #181818;
    padding-top: 27px;
    }
  .blue1{
    color: #FFFFFF;
    background-color: #2B59C3;
    border-radius: 5px;
    padding: 13px 17px;
  }
  span{
    color: #181818;
    font-size: 55px;
    line-height: 55px;
  }

}
.portfolio{
  .d-sm-flex d-block{

  }
  article{
    margin-right: 89px;
    h2{
      margin-top: 38px;
      padding-top: 7px;
      padding-bottom: 7px;
      font-family: "20Kopeek-Book";
      font-size: 55px;
      font-style: normal;
      font-weight: 400;
      line-height: 55px;
      letter-spacing: 0;
      text-align: left;
    }
    p{
      //styleName: Desk — Body;
      font-family: "20Kopeek";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0;
      text-align: left;

    }
  }
  .btn{
    /* Смотреть проект */


    margin-top: 38px;
    padding: 23px 47px;
    height: 25px;
    box-sizing: content-box;
    margin-bottom: 60px;

    //styleName: Desk — Body;
    font-family: "20Kopeek";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    border: solid #181818 2px;
  }
}

.contact_email{
  h2{
    color: #181818;
        font-family: "20Kopeek-Book";
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    margin-bottom: 10px;
  }
  p{
    color: #181818;
    font-family: "20Kopeek-Book";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

}
.step_style{
  color: #181818;
  h2{
    //styleName: Desk — H1;
    font-family: "20Kopeek-Book";
    font-size: 55px;
    font-weight: 400;
    line-height: 55px;
  }
  h3{
    //styleName: Desk — Body;
    font-family: "20Kopeek";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  p{
    //styleName: Desk — Notes;
    font-family: "20Kopeek";
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
  }
}
.about_text p{
  padding: 20px;
  margin-bottom: 50px;
}
.about_text p:last-of-type{
  background-color: blue;
  border-radius: 4px;
}

.freelanc{
  padding: 150px 0;
  .col-xl-2{
    &:first-of-type{
      background-color: #2B59C3;
      border-radius: 10px 10px 0 0;
      font-size: 26px;
      color: white;
      display: flex;
      //align-items: center;
      p{
        margin-bottom: 0;
      }
      &.blue_2{
        border-radius: 0;
      }
    }
  }
  .col-md-4{
    &:first-of-type, &:nth-child(2), &:last-of-type{
      border-bottom: solid 1px #868686;
      @include max-screen(992px){
        border-bottom: none;
      }
      &.border_blue{
        border: solid 4px #2B59C3;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
      }
      h3{
        color: #868686;
        font-size: 38px;
        min-height: 84px;
        line-height: 41px;
      }
      p{
        color: #868686;
        padding-top: 14px;
        font-size: 15px;
        margin-bottom: 0;
        line-height: 19px;
        padding-bottom: 26px;
      }
    }
  }
  .next{
    .frelan{
      &.border_blue{
        border: solid 4px #2B59C3;
        border-bottom: none;
        border-top: none;
        border-radius: 0;
      }
      p{
        padding-top: 26px;
        padding-bottom: 26px;
      }
    }
    .blue{
      align-items:start;
      padding-top: 16px;
      @include max-screen(1024px){
        padding-bottom: 16px;
      }
    }
  }
  br{
    @include max-screen(1024px){
      display: none;
    }
  }
}
.preference{
  background-image: url("../images/Rectangle32.jpg");
  height: 100%;
  background-position: center top;
  background-size: cover;
  @include max-screen(576px){
    display: none;

  }
  .container{


     h3{
       color: #FFFFFF;
       font-family: "20Kopeek-Book";
       font-size: 55px;
       font-weight: 400;
       line-height: 55px;
       text-align: left;
       margin-top: 282px;

     }
     .col-xl-2 {
       &:first-of-type {
        @media (min-width:1140px){
          margin-left: 10px;
        }


       }
     }
      span{
       color: #FFFFFF;
       font-family: "20Kopeek-Book";
       font-size: 55px;
       font-weight: 400;
       line-height: 55px;

       text-align: left;
       }
       p{
        color: #FFFFFF;
        font-family: "20Kopeek";
        font-size: 15px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
       }
  }
}


